<%= form_for plant do |f| %>

  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(plant.errors.count, "error") %>
        prohibited this post from being saved:
      </h3>

      <ul>
      <% plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :difficulty, " Difficulty", :class => "fa fa-line-chart" %>
        <%= f.range_field :difficulty, :in => 1..5, :class => "form-control" %>

      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :amount_of_light, " Amount", :class => "fa fa-sun-o" %>
        <%= f.range_field :amount_of_light, :in => 1..5, :class => "form-control" %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :amount_of_water, " Amount", :class => "fa fa-tint" %>
        <%= f.range_field :amount_of_water, :in => 1..5, :class => "form-control" %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :frequency_of_water, " Frequency", :class => "fa fa-tint" %>
        <%= f.range_field :frequency_of_water, :in => 1..5, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fun_fact %>
    <%= f.text_area :fun_fact, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :tips, plant.tips.build do |ff| %>
      <%= ff.label :content, "Tip" %>
      <%= ff.text_area :content, :class => "form-control" %>
    <% end %>
  </div>

  <%= f.submit :class => "btn btn-success" %>

<% end %>

