<div class="container">
  <h1><%= @plant.name %></h1>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Statistics</h4>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <i class="fa fa-line-chart big-icon"> <%= @plant.difficulty %></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-sun-o big-icon"> <%= @plant.amount_of_light %></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-tint big-icon"> <%= @plant.amount_of_water %></i>
        </div>
        <div class="col-xs-3">
          <i class="fa fa-clock-o big-icon"> <%= @plant.frequency_of_water %></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Fun Fact</h4>
      </div>
      <div class="panel-body">
        <%= @plant.fun_fact %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @plant.tips.each do |tip| %>
      <blockquote>
        <p><%= tip.content %></p>
        <footer><%= tip.user.name || "Guest" %> • <%= link_to "#{time_ago_in_words(tip.created_at)} ago", plant_tip_path(tip) %></cite></footer>
      </blockquote>
    <% end %>
  </div>
</div>
