<h1><%= @plant.name %></h1>
<h2>Difficulty: <%= @plant.difficulty %></h2>
<h2>Amount of Light: <%= @plant.amount_of_light %></h2>
<h2>Amount of Water: <%= @plant.amount_of_water %></h2>
<h2>Frequency of Water: <%= @plant.frequency_of_water %></h2>
<p><b>Fun Fact: </b><%= @plant.fun_fact %></p>

<hr>
